.navDashboard img{
    width: 100px;
    margin-left: 50px;
    margin-top: 20px;
    cursor: pointer;
 }


/* .btnLogoutNav{
    margin-right: 50px;
    margin: 22px 50px auto 0;
    width: 100px;
    border-radius: 28px;
    color: #413A5F;
    border: 1px #413A5F solid;
    background: none;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    box-shadow: 0px 6px 10px rgba(67, 65, 65, 0.1);
    transition: all 0.3s ease 0s;
    transform: scale(1);
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.btnLogoutNav:hover{
    box-shadow: 0px 10px 15px rgba(65,58,95, 0.4);
}

.btnLogoutNav:active{
    transform: scale(0.9);
} */