.containerHome{
    background: linear-gradient(rgba(94, 93, 93, 0.591), rgba(94, 93, 93,.591)), url('./../img/adults-afro-afro-hair-1857537.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.conteudo{
    opacity:1;
    width: 100%;
}

